.vimarshtweets-span {
  text-decoration: underline;
}
.credits-div,
.vimarshtweets {
  color: inherit;
}
.credits-div {
  position: absolute;
  top: 1003px;
  left: 698px;
  display: inline-block;
  width: 557px;
  height: 63px;
}
.create-your-own {
  margin-block-start: 0;
  margin-block-end: 0;
}
.reef-domains-p {
  margin: 0;
}
.create-your-own-reef-domains {
  position: absolute;
  top: 324px;
  left: 645px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 630px;
  height: 158px;
}
.reef-div {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 249px;
  height: 91px;
}
.group-div,
.home-div,
.vector-icon {
  position: absolute;
  top: 48px;
  left: 176px;
  width: 249px;
  height: 91px;
}
.home-div,
.vector-icon {
  left: 106px;
  width: 116px;
  height: 116px;
}
.home-div {
  width: 19.55%;
  top: 0;
  left: 0;
  text-decoration: underline;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.div {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 22.95%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.div,
.div1,
.mint-div {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 17px;
}
.mint-div {
  width: 14.51%;
  top: 0;
  left: 28.59%;
  justify-content: center;
}
.div1 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 45.97%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.view-div {
  width: 15.75%;
  top: 0;
  left: 51.62%;
  justify-content: center;
}
.div2,
.update-div,
.view-div {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 17px;
}
.div2 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 70.86%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.update-div {
  width: 23.59%;
  top: 0;
  left: 76.5%;
  justify-content: center;
}
.connect-wallet-div,
.ol-div {
  position: absolute;
  font-size: var(--font-size-sm);
  font-family: var(--font-iceland);
  height: 17px;
}
.ol-div {
  width: 25.57%;
  top: 93px;
  right: 37.24%;
  left: 37.19%;
}
.connect-wallet-div {
  width: 81.45%;
  top: 30px;
  left: 9.45%;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo);
  position: absolute;
  width: 14.32%;
  top: 67px;
  right: 3.85%;
  left: 81.82%;
  border-radius: var(--br-sm);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
}
.navigation-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 188px;
  overflow: hidden;
  font-size: var(--font-size-lg);
  font-family: var(--font-akaya-telivigala);
}
.mint-your-own-domain-now {
  position: absolute;
  top: 540px;
  left: 637px;
  display: inline-block;
  width: 645px;
  height: 114px;
}
.reef-home-div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-iceland);
}
