.vimarshtweets-span1 {
  text-decoration: underline;
}
.vimarshtweets1 {
  color: inherit;
}
.credits-div1 {
  position: absolute;
  top: 1464px;
  left: 703px;
  color: inherit;
  display: inline-block;
  width: 557px;
  height: 63px;
}
.group-div1,
.reef-div1 {
  position: absolute;
  width: 249px;
  height: 91px;
}
.reef-div1 {
  top: 0;
  left: 0;
  display: inline-block;
}
.group-div1 {
  top: 48px;
  left: 176px;
  font-size: var(--font-size-lg);
  font-family: var(--font-akaya-telivigala);
}
.home-div1,
.vector-icon1 {
  position: absolute;
  top: 48px;
  left: 106px;
  width: 116px;
  height: 116px;
}
.home-div1 {
  width: 19.55%;
  top: 0;
  left: 0;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.div3 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 22.95%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.div3,
.div4,
.mint-div1 {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 17px;
}
.mint-div1 {
  width: 14.51%;
  top: 0;
  left: 28.59%;
  justify-content: center;
}
.div4 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 45.97%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.view-div1 {
  width: 15.75%;
  top: 0;
  left: 51.62%;
  justify-content: center;
}
.div5,
.update-div1,
.view-div1 {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 17px;
}
.div5 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 70.86%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.update-div1 {
  width: 23.59%;
  top: 0;
  left: 76.5%;
  text-decoration: underline;
  justify-content: center;
}
.button-div,
.ol-div1 {
  position: absolute;
  width: 25.57%;
  top: 93px;
  right: 37.24%;
  left: 37.19%;
  height: 17px;
}
.button-div {
  width: 14.32%;
  top: 67px;
  right: 3.85%;
  left: 81.82%;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
}
.navigation-div1,
.updaterecord-div {
  position: absolute;
  color: var(--color-white);
}
.navigation-div1 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 188px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.updaterecord-div {
  top: 314px;
  left: 637px;
  display: inline-block;
  width: 645px;
  height: 56px;
}
.rectangle-div {
  position: absolute;
  top: 399px;
  left: 645px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 631px;
  height: 759px;
}
.fetch-records-div {
  position: absolute;
  width: 81.45%;
  top: 30px;
  left: 9.45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.button-div1 {
  position: absolute;
  width: 14.32%;
  top: 743px;
  right: 41.72%;
  left: 43.96%;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.domain-div,
.reef-div2 {
  position: absolute;
  top: 15px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 293px;
  height: 50px;
}
.reef-div2 {
  left: 279px;
}
.domain-name-div,
.rectangle-div1 {
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: var(--br-md);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 297px;
  height: 54px;
}
.domain-name-div {
  top: 430px;
  left: 673px;
  border: 2px solid var(--color-black);
  width: 576px;
  height: 84px;
  overflow: hidden;
}
.current-record-description {
  position: absolute;
  top: 15px;
  left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 50px;
}
.domain-name-div1,
.domain-name-div2 {
  position: absolute;
  top: 539px;
  left: 673px;
  border-radius: var(--br-md);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 576px;
  height: 84px;
  overflow: hidden;
}
.domain-name-div2 {
  top: 640px;
}
.button-div2 {
  position: absolute;
  width: 14.32%;
  top: 1043px;
  right: 41.77%;
  left: 43.91%;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.domain-name-div3,
.domain-name-div4 {
  position: absolute;
  top: 839px;
  left: 672px;
  border-radius: var(--br-md);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 576px;
  height: 84px;
  overflow: hidden;
}
.domain-name-div4 {
  top: 940px;
}
.update-records-div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1576px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-iceland);
}
