.vimarshtweets-span2 {
  text-decoration: underline;
}
.vimarshtweets2 {
  color: inherit;
}
.credits-div2 {
  position: absolute;
  top: 1003px;
  left: 698px;
  color: inherit;
  display: inline-block;
  width: 557px;
  height: 63px;
}
.group-div2,
.reef-div3 {
  position: absolute;
  width: 249px;
  height: 91px;
}
.reef-div3 {
  top: 0;
  left: 0;
  display: inline-block;
}
.group-div2 {
  top: 48px;
  left: 176px;
  font-size: var(--font-size-lg);
  font-family: var(--font-akaya-telivigala);
}
.home-div2,
.vector-icon2 {
  position: absolute;
  top: 48px;
  left: 106px;
  width: 116px;
  height: 116px;
}
.home-div2 {
  width: 19.55%;
  top: 0;
  left: 0;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.div6 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 22.95%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.div6,
.div7,
.mint-div2 {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 17px;
}
.mint-div2 {
  width: 14.51%;
  top: 0;
  left: 28.59%;
  text-decoration: underline;
  justify-content: center;
}
.div7 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 45.97%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.view-div2 {
  width: 15.75%;
  top: 0;
  left: 51.62%;
  justify-content: center;
}
.div8,
.update-div2,
.view-div2 {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 17px;
}
.div8 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 70.86%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.update-div2 {
  width: 23.59%;
  top: 0;
  left: 76.5%;
  justify-content: center;
}
.button-div4,
.ol-div2 {
  position: absolute;
  width: 25.57%;
  top: 93px;
  right: 37.24%;
  left: 37.19%;
  height: 17px;
}
.button-div4 {
  width: 14.32%;
  top: 67px;
  right: 3.85%;
  left: 81.82%;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
}
.navigation-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 188px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.mint-your-domain {
  position: absolute;
  top: 314px;
  left: 637px;
  display: inline-block;
  width: 645px;
  height: 56px;
}
.rectangle-div2 {
  position: absolute;
  top: 399px;
  left: 645px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 631px;
  height: 440px;
}
.mint-now-div {
  position: absolute;
  width: 81.45%;
  top: 30px;
  left: 9.45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.button-div5 {
  position: absolute;
  width: 14.32%;
  top: 750px;
  right: 41.77%;
  left: 43.91%;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
  font-size: var(--font-size-sm);
}
.domain-div1,
.reef-div4 {
  position: absolute;
  top: 15px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 293px;
  height: 50px;
}
.reef-div4 {
  left: 279px;
}
.domain-name-div5,
.rectangle-div3 {
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: var(--br-md);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 297px;
  height: 54px;
}
.domain-name-div5 {
  top: 430px;
  left: 673px;
  border: 2px solid var(--color-black);
  width: 576px;
  height: 84px;
  overflow: hidden;
  color: var(--color-black);
}
.description-div {
  position: absolute;
  top: 15px;
  left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 50px;
}
.domain-name-div6 {
  position: absolute;
  top: 539px;
  left: 673px;
  border-radius: var(--br-md);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 576px;
  height: 84px;
  overflow: hidden;
  color: var(--color-black);
}
.ipfshash-div {
  position: absolute;
  top: 15px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  height: 50px;
}
.domain-name-div7 {
  position: absolute;
  top: 647px;
  left: 673px;
  border-radius: var(--br-md);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 576px;
  height: 84px;
  overflow: hidden;
  color: var(--color-black);
}
.reef-mint-div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-iceland);
}
