.vimarshtweets-span1 {
  text-decoration: underline;
}
.vimarshtweets1 {
  color: inherit;
}
.credits-div1,
.view-your-names {
  position: absolute;
  display: inline-block;
}
.credits-div1 {
  top: 1003px;
  left: 698px;
  color: inherit;
  width: 557px;
  height: 63px;
}
.view-your-names {
  top: 324px;
  left: 645px;
  font-size: var(--font-size-xl);
  width: 630px;
  height: 158px;
}
.group-div1,
.reef-div2 {
  position: absolute;
  width: 249px;
  height: 91px;
}
.reef-div2 {
  top: 0;
  left: 0;
  display: inline-block;
}
.group-div1 {
  top: 48px;
  left: 176px;
  font-size: var(--font-size-lg);
  font-family: var(--font-akaya-telivigala);
}
.vector-icon1 {
  position: absolute;
  top: 48px;
  left: 106px;
  width: 116px;
  height: 116px;
}
.div3,
.home-div1 {
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.home-div1 {
  position: absolute;
  width: 19.55%;
  top: 0;
  left: 0;
  justify-content: center;
  height: 17px;
}
.div3 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 22.95%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.div3,
.div4,
.mint-div1 {
  position: absolute;
  height: 17px;
}
.mint-div1 {
  width: 14.51%;
  top: 0;
  left: 28.59%;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 45.97%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.div4,
.div5,
.view-div1 {
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.view-div1 {
  position: absolute;
  width: 15.75%;
  top: 0;
  left: 51.62%;
  text-decoration: underline;
  justify-content: center;
  height: 17px;
}
.div5 {
  width: 2.15%;
  top: calc(50% - 8.5px);
  left: 70.86%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.div5,
.ol-div1,
.update-div1 {
  position: absolute;
  height: 17px;
}
.update-div1 {
  width: 23.59%;
  top: 0;
  left: 76.5%;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ol-div1 {
  width: 25.57%;
  top: 93px;
  right: 37.24%;
  left: 37.19%;
}
.connect-wallet-div1 {
  position: absolute;
  width: 81.45%;
  top: 30px;
  left: 9.45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.button-div3 {
  position: absolute;
  width: 14.32%;
  top: 67px;
  right: 3.85%;
  left: 81.82%;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 77px;
}
.navigation-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 188px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.you-currently-do-not-own-any {
  position: absolute;
  top: 540px;
  left: 637px;
  display: inline-block;
  width: 645px;
  height: 114px;
}
.view-nft-div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-iceland);
}
